#first{
    background-color: aquamarine;
    height: 200px;
}

#second{
    background-color: rgb(138, 255, 127);
    height: 200px;
}

#third{
    background-color: rgb(127, 229, 255);
    height: 200px;
}

#fourth{
    background-color: rgb(90, 93, 194);
    height: 200px;
}

#fifth{
    background-color: rgb(204, 127, 255);
    height: 200px;
}

#sixth{
    background-color: rgb(255, 127, 217);
    height: 200px;
}

#seventh{
    background-color: rgb(255, 87, 90);
    height: 200px;
}

.item>img{
    width: 100%;
    height: 350px;
}